<section class="hero">
    <h1><%= render hero.get_content("title") %></h1>
    <div class="logo-container"><%= render hero.get_content("logo") %></div>
    <p><%= render hero.get_content("tagline") %></p>
</section>